.recipe-details{
    max-width: 1200px;
    margin: 40px auto;
    text-align: center;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
}

.recipe-details ul{
    display: flex;
    padding: 0;
    justify-content: center;
    margin-top: 0;
}

.recipe-details li{
    list-style-type: none;
    margin-right: 10px;
    color: #777;
}

.recipe-details li::after{
    content: ","
}

.recipe-details li:last-child::after{
    content: "."
}

.method{
    text-align: left;
    line-height: 1.5em;
}